@model IEnumerable<SmartHome.Models.Scheduler>

@{
    ViewData["Title"] = "All Schedules";
}

<div id="top">
    <h2>< Weekly Settings ></h2>
</div>

<div id="left">
    <div style="display:inline-flex; ">
        <h2 style="color:dimgrey;">Today</h2>
        <img style="padding-left:10px;" src="~/images/calender.png" />
    </div>
    <h3 >@DateTime.Today.ToLongDateString()</h3>
</div>


<div id="right">
    @if (Model != null)
    {

        for (int i = 0; i < 7; i++)
        {
            String day = "";

            switch (i)
            {
                case 0:
                    day = "Sunday";
                    break;
                case 1:
                    day = "Monday";
                    break;
                case 2:
                    day = "Tuesday";
                    break;
                case 3:
                    day = "Wednesday";
                    break;
                case 4:
                    day = "Thursday";
                    break;
                case 5:
                    day = "Friday";
                    break;
                case 6:
                    day = "Saturday";
                    break;
            }


    <div id="daySchedule">
        <thead>
            <tr>
                <th style="display: inline-block;">
                    <h2>
                    @Html.DisplayName(day)
                    <a asp-action="SelectDay" asp-controller="Scheduler" asp-route-day="@day"><img width="20px" height="20px" src="~/images/addButton.png" /></a>
                    </h2>               
                </th>
                <th></th>
            </tr>
        </thead>

        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {

                    if (item.dayOfWeek.Equals(day))
                    {

            <tr>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.deviceName)
                    </a>
                        <div style="float:right;">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                </td>
            </tr>
                    }
                }
            </tbody>
        </table>
    </div>
        }
    }

</div>

        
<style>
    #top {
        height: 20%;
        width: 100%;
        text-align: center;
        color: dimgrey;

    }

    #left {
        text-align: center;
        width: 20%;
        height: 80%;
        float: left;
        color: grey;
        border-top-style: solid;
        border-top-color: grey;
        border-top-width: thick;
    }

    #right {
        width: 80%;
        height: 80%;
        float: left;
        border-left-style: solid;
        border-left-color: grey;
        border-left-width: thick;
        border-top-style: solid;
        border-top-color: grey;
        border-top-width: thick;
        display: inline;
        white-space: nowrap;
    }

    #daySchedule {
        width: 30%;
        height: 80%;
        display: inline-block;
        white-space: nowrap;
        padding: 0px 20px 0px 20px
    }
</style>
